@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
}

html,
body,
#app {
    height: 100%;
}


*, ::before, ::after {
    font-family: 'Inter', sans-serif;
}

:root {
    --backgroundColor: #ECF0F1;
}

